[submodule "pack/kickinbahk/start/dein.vim"]
	path = pack/kickinbahk/start/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "pack/kickinbahk/start/auto-pairs"]
	path = pack/kickinbahk/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/kickinbahk/start/coc.nvim"]
	path = pack/kickinbahk/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/kickinbahk/start/night-owl.vim"]
	path = pack/kickinbahk/start/night-owl.vim
	url = https://github.com/haishanh/night-owl.vim.git
[submodule "pack/kickinbahk/start/vim-surround"]
	path = pack/kickinbahk/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/kickinbahk/start/vim-prettier"]
	path = pack/kickinbahk/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "pack/kickinbahk/start/vim-numbertoggle"]
	path = pack/kickinbahk/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "pack/kickinbahk/start/vim-liquid"]
	path = pack/kickinbahk/start/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "pack/kickinbahk/start/vim-eunuch"]
	path = pack/kickinbahk/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/kickinbahk/start/vim-css-color"]
	path = pack/kickinbahk/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "pack/kickinbahk/start/vim-closetag"]
	path = pack/kickinbahk/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "pack/kickinbahk/start/vim-better-comments"]
	path = pack/kickinbahk/start/vim-better-comments
	url = https://github.com/jbgutierrez/vim-better-comments.git
[submodule "pack/kickinbahk/start/nerdtree"]
	path = pack/kickinbahk/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/kickinbahk/start/ctrlp.vim"]
	path = pack/kickinbahk/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/kickinbahk/start/denite.nvim"]
	path = pack/kickinbahk/start/denite.nvim
	url = https://github.com/Shougo/denite.nvim.git
[submodule "pack/kickinbahk/start/indentLine"]
	path = pack/kickinbahk/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
